.btn {
	background-color: white;
	border-color: $main-style-color;
	color: $main-font-color;
	&:hover,
	:focus {
		background: $main-style-color;
		border-color: $main-style-color;
		color: $sub-font-color;
	}
}

%select {
	width: 420px;
	height: 32px;
	color: $main-font-color;
	border-radius: 5px;
	border-color: var(--el-border-color);
	background-color: var(--el-input-bg-color, var(--el-fill-color-blank));
}

%flex-row-c {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
